


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix ">
            <span id="Exportbtn" class="pull-right"> </span>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Region</th>
                <th>Area</th>
                <th>CE Area</th>
                <th>DB House</th>
                <th>PSR Name</th>
                <th>Sub Route Code</th>
                <th>Sub Route Name</th>
                <th>Number Of Outlet</th>
                <th>Saturday</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            </thead>

            <tbody>


        </table>
    </div>
</div>
